.weapon-card {
  position: relative;
  width: 100%;
  height: 200px;
  overflow: hidden;
  cursor: pointer;

  &.weapon-card-grade-0 {
    background: #3e3831;
    border-bottom: 3px solid var(--4, #ffee51); 
  }

  &.weapon-card-grade-1 {
    background: #413636;
    border-bottom: 3px solid var(--3, #ed3838);
  }

  &.weapon-card-grade-2 {
    background: #35323d;
    border-bottom: 3px solid var(--3, #ab6afc);
  }

  &.weapon-card-grade-3 {
    background: #323638;
    border-bottom: 3px solid var(--5, #6da1ac);
  }

  &.weapon-card-border-none {
    border-bottom-width: 0;
  }
  &.weapon-card-border-show {
    // border-bottom-width: 3px;
    border-bottom: 5px solid red;
  }

  .img-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    img {
      width: 130px;
      height: 97px;
    }
  }

  .item-footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    padding: 12px 12px;
  }

  .item-roll {
    position: absolute;
    top: 0;
    left: 0;
    left: 0;
    z-index: 2;
    display: none;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(7px);
  }

  &.weapon-card-profile {
    overflow: hidden;
    transition: 0.3s ease;
    .weapon-card-profile-bottom {
      display: none;
    }
    &:hover {
      height: 175px;
      overflow: visible;
      border-bottom: none;
      .weapon-card-profile-bottom {
        display: block;
      }
    }
  }
}

.weapon-card:hover {
  .item-roll {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 1200px) {
  .weapon-card .img-wrapper img {
    width: 117px;
    height: auto;
  }
}

@media (max-width: 599px) {
  .weapon-card .img-wrapper img {
    width: 110px;
    height: auto;
  }
}

.weapon-card:before {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 138px;
  height: 74px;
  background-size: contain;
  transform: translate(-50%, -50%);

  content: '';
}

@media (max-width: 1200px) {
  .weapon-card:before {
    width: 72px;
    height: 72px;
    transform: translate(-50%, -50%);
  }
}

@media (max-width: 900px) {
  .weapon-card:before {
    width: 72px;
    height: 72px;
    transform: translate(-50%, -50%);
  }
}

@media (max-width: 768px) {
  .weapon-card {
    &.weapon-card-grade-0,
    &.weapon-card-grade-1,
    &.weapon-card-grade-2,
    &.weapon-card-grade-3 {
      border-bottom: none;
    }
  }
}

@media (max-width: 599px) {
  .weapon-card:before {
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
  }
}

.weapon-card-top {
  position: relative;
  display: inline-block;
  width: 178px;
  height: 116px;
  overflow: hidden;
  cursor: pointer;

  &.weapon-card-grade-0 {
    background: radial-gradient(
        110% 100% at 49.87% 100%,
        rgba(226, 200, 61, 0.58) 0%,
        rgba(40, 40, 40, 0) 100%
      ),
      #1e1d22;
    border-bottom: 3px solid var(--4, #ffee51);
    &::before {
      background: url('@/assets/iv1.png') no-repeat;
      background-size: contain;
    }
  }

  &.weapon-card-grade-1 {
    background: radial-gradient(
        147.37% 100% at 49.87% 100%,
        rgba(239, 64, 95, 0.48) 0%,
        rgba(40, 40, 40, 0) 100%
      ),
      #1e1d22;
    border-bottom: 3px solid var(--3, #ed3838);
    &::before {
      background: url('@/assets/iv2.png') no-repeat;
      background-size: contain;
    }
  }

  &.weapon-card-grade-2 {
    background: radial-gradient(
        124.94% 91.38% at 49.87% 100%,
        rgba(148, 71, 224, 0.48) 0%,
        rgba(40, 40, 40, 0) 100%
      ),
      #1e1d22;
    border-bottom: 3px solid var(--3, #ab6afc);
    &::before {
      background: url('@/assets/iv3.png') no-repeat;
      background-size: contain;
    }
  }

  &.weapon-card-grade-3 {
    background: radial-gradient(
        98.6% 106.9% at 49.87% 106.9%,
        rgba(128, 156, 163, 0.54) 0%,
        rgba(40, 40, 40, 0) 100%
      ),
      #1e1d22;
    border-bottom: 3px solid var(--5, #6da1ac);
    &::before {
      background: url('@/assets/iv4.png') no-repeat;
      background-size: contain;
    }
  }

  .img-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    img {
      width: 110px;
      height: 82px;
    }
  }

  .item-footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 10px;

    .item-title {
      width: fit-content;
      max-width: 100%;
      overflow: hidden;
      font-weight: 600;
      font-size: 12px;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  .avatar {
    width: 36px;
    height: 36px;
  }

  .box-img-wrapper {
    position: absolute;
    right: -35px;
    bottom: -25px;
    transform: translateY(30px);
    transition: transform 0.7s ease;

    img {
      height: 135px;
    }
  }
  &:hover {
    .box-img-wrapper {
      transform: none;
    }
  }
}

@media (max-width: 1200px) {
  .weapon-card-top {
    width: 140px;
    height: 90px;

    .avatar {
      width: 30px;
      height: 30px;
    }

    .img-wrapper img {
      width: 85px;
      height: 67px;
    }

    .box-img-wrapper {
      right: -25px;
      bottom: -15px;

      img {
        height: 100px;
      }
    }
  }
}

@media (max-width: 599px) {
  .weapon-card-top {
    .item-footer {
      display: none;
    }
  }
}

@media (max-width: 900px) {
  .weapon-card-top {
    width: 120px;
    height: 77px;

    .avatar {
      width: 25px;
      height: 25px;
    }

    .img-wrapper img {
      width: 85px;
      height: 63px;
    }

    .box-img-wrapper {
      right: -20px;
      bottom: -10px;

      img {
        height: 80px;
      }
    }
  }
}

@media (max-width: 599px) {
  .weapon-card-top {
    width: 85px;
    height: 50px;

    .img-wrapper img {
      width: 60px;
      height: 45px;
    }
  }
}

@media (max-width: 599px) {
  .weapon-card-top {
    .item-footer {
      // display: none;
    }
  }
}

.weapon-card-top:before {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 88px;
  height: 50px;
  background-size: contain;
  transform: translate(-50%, -50%);
  content: '';
}

@media (max-width: 1200px) {
  .weapon-card-top:before {
    width: 54px;
    height: 30px;
  }
}

@media (max-width: 900px) {
  .weapon-card-top:before {
    width: 50px;
    height: 28px;
  }
}

@media (max-width: 599px) {
  .weapon-card-top:before {
    width: 30px;
    height: 17px;
  }
}
