.box-open-title {
  background: url('@/assets/case-bg.png') no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
}

.box-bg {
  border-radius: 6px;
  background: linear-gradient(180deg, #3E3E50 0%, rgba(23, 23, 23, 0.44) 94.79%);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.arrow-left {
  background: url('@/assets/box-arr.png') no-repeat;
  background-size: contain;
  content: "";
  position: absolute;
  width: 50px;
  height: 37px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 40;
}

.arrow-right {
  background: url('@/assets/box-arr.png') no-repeat;
  background-size: contain;
  content: "";
  position: absolute;
  width: 50px;
  height: 37px;
  right: 0px;
  transform: translateY(-50%) rotateY(180deg);
  top: 50%;
  z-index: 40;
}

.arrow-top {
  background: url('@/assets/box-arr.png') no-repeat;
  background-size: contain;
  content: "";
  position: absolute;
  width: 50px;
  height: 37px;
  transform: rotate(90deg) translateY(50%);
  top: -5px;
  left: 50%;
  z-index: 40;
}

.arrow-bottom {
  background: url('@/assets/box-arr.png') no-repeat;
  background-size: contain;
  content: "";
  position: absolute;
  width: 50px;
  height: 37px;
  transform: rotate(270deg) translateY(-50%);
  bottom: -5px;
  left: 50%;
  z-index: 40;
}

@media (max-width: 599px) {
  .arrow-bottom,
  .arrow-left,
  .arrow-right,
  .arrow-top {
    width: 25px;
    height: 18px;
  }
}

.result-modal {
  .result-title {
    background: linear-gradient(270deg, #0BFF59 0%, #B4FC3B 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Gotham;
    text-transform: uppercase;
    font-weight: 400;
  }

  .grade-bg {
    background-size: contain;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: -30px;
  }

  .grade-0-bg {
    background-image: url('@/assets/grade0-bg.png');
  }

  .grade-1-bg {
    background-image: url('@/assets/grade1-bg.png');
  }

  .grade-2-bg {
    background-image: url('@/assets/grade2-bg.png');
  }

  .grade-3-bg {
    background-image: url('@/assets/grade3-bg.png');
  }


  .weapon-bg {
    background-size: cover;
    background-repeat: no-repeat;

    &.grade-0 {
      background-image: url('@/assets/grade0.png');
    }

    &.grade-1 {
      background-image: url('@/assets/grade1.png');
    }

    &.grade-2 {
      background-image: url('@/assets/grade2.png');
    }

    &.grade-3 {
      background-image: url('@/assets/grade3.png');
    }
  }
}