.battle-rank-point {
  background: radial-gradient(52.71% 53.03% at 50.00% 40.45%, #D79A58 0%, #131314 100%);
  height: 275px;
  display: flex;
  justify-content: center;
  background: url('@/assets/battle-rank-bg.png') no-repeat;
  background-size: contain;
  background-position: center;
}

.battle-ranks {
  display: flex;
  flex-direction: column;
  position: relative;

  .my-rank {
    width: 100%;
    text-align: center;
    height: 56px;
    line-height: 56px;
  }

  .tab-item.tab-active .tab-item-c::after {
    background: #FFD284 !important;
    box-shadow: 0px 2px 7.5px 0px #9C8152 !important;
  }

}

.bgm-rank {
  border-bottom: 1px solid #2E2E2E;
  height: 52px;
  padding: 0 8px;
}

.bgm-rank1 {
  background: linear-gradient(90deg, rgba(132, 112, 41, 0.95) 0%, rgba(77, 73, 32, 0.00) 100%), rgba(22, 22, 22, 0.75);
}

.bgm-rank2 {
  background: linear-gradient(90deg, rgba(150, 21, 44, 0.54) 0%, rgba(125, 25, 31, 0.00) 100%), rgba(22, 22, 22, 0.75);
}

.bgm-rank3 {
  background: linear-gradient(90deg, rgba(93, 21, 150, 0.60) 0%, rgba(81, 25, 125, 0.00) 100%), rgba(22, 22, 22, 0.75);
}

.battle-seat-bg {
  border-radius: 6px 6px 0 0;
  background-color: #161616;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-image: url('@/assets/lottery-bg.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.battle-user {
  background: #322D36;
  border-radius: 0 0 6px 6px;
  display: flex;
  backdrop-filter: blur(2px);
}

.battle-user-win {
  background: linear-gradient(180deg, #1C1C22 23.44%, #605A2C 100%);
}

.seat-1 {
  &::before {
    background: url('@/assets/seat.png') no-repeat;
    background-size: contain;
    content: "";
    position: absolute;
    width: 15px;
    height: 44px;
    left: -6px;
    top: 50%;
    transform: translateY(-50%);
  }
}

// .seat-2,
// .seat-3,
// .seat-4 {
//   &::before {
//     background: url('@/assets/vs.png') no-repeat;
//     background-size: contain;
//     content: "";
//     width: 42px;
//     height: 42px;
//     position: absolute;
//     left: -27px;
//     top: 50%;
//     transform: translateY(-50%);
//   }
// }

.seat-last {
  &::after {
    background: url('@/assets/seat.png') no-repeat;
    background-size: contain;
    content: "";
    position: absolute;
    width: 15px;
    height: 44px;
    right: -6px;
    top: 50%;
    transform: rotateY(180deg) translateY(-50%);
  }
}

@media (max-width: 599px) {
  .seat-1 {
    &::before {
      width: 14px;
      height: 44px;
      left: -6px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .seat-2,
  .seat-3,
  .seat-4 {
    &::before {
      width: 21px;
      height: 21px;
      position: absolute;
      left: -14px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .seat-last {
    &::after {
      width: 14px;
      height: 44px;
      right: -6px;
      top: 50%;
      transform: rotateY(180deg) translateY(-50%);
    }
  }
}



.win-user-bg {
  background: linear-gradient(90deg, rgba(39, 104, 53, 0.70) 0%, rgba(32, 77, 42, 0.20) 100%), rgba(22, 22, 22, 0.75);
}

.animate-item-enter {
  animation-duration: 800ms;
  animation-name: zoomIn;
}

.animate-item-enter-active {
  animation-duration: 800ms;
  animation-name: zoomIn;
}

.animate-item-enter-done {
  animation-duration: 800ms;
  animation-name: zoomIn;
}

.animate-item-exit {
  animation-duration: 800ms;
  animation-name: bounceOut;
}

.animate-item-exit-active {
  animation-duration: 800ms;
  animation-name: bounceOut;
}

.animate-item-exit-done {
  animation-duration: 800ms;
  animation-name: bounceOut;
}

.battle-detail {
  .battle-mode-0 {
    background: linear-gradient(90deg, rgba(39, 104, 53, 0.60) 0%, rgba(32, 77, 42, 0.00) 100%), rgba(22, 22, 22, 0.75);
  }

  .battle-mode-1 {
    background: linear-gradient(90deg, rgba(150, 21, 44, 0.60) 0%, rgba(125, 25, 31, 0.00) 100%), rgba(22, 22, 22, 0.75);
  }
}