.battle-rank-point {
  display: flex;
  justify-content: center;
  height: 275px;
  background: radial-gradient(
    52.71% 53.03% at 50% 40.45%,
    #d79a58 0%,
    #161616 100%
  );
  background: url('@/assets/battle-rank-bg.png') no-repeat;
  background-position: center;
  background-size: contain;
}

.battle-ranks {
  position: relative;
  display: flex;
  flex-direction: column;

  .my-rank {
    width: 100%;
    height: 56px;
    line-height: 56px;
    text-align: center;
  }

  .tab-item.tab-active .tab-item-c::after {
    background: #ffd284 !important;
    box-shadow: 0px 2px 7.5px 0px #9c8152 !important;
  }
}

.bgm-rank {
  height: 52px;
  padding: 0 8px;
  border-bottom: 1px solid #2e2e2e;
}

.bgm-rank1 {
  .rank-num {
    background: url('@/assets/battle-rank1.png') no-repeat;
    background-size: cover;
  }
}

.bgm-rank2 {
  .rank-num {
    background: url('@/assets/battle-rank2.png') no-repeat;
    background-size: cover;
  }
}

.bgm-rank3 {
  .rank-num {
    background: url('@/assets/battle-rank3.png') no-repeat;
    background-size: cover;
  }
}

.battle-seat-bg {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #161616;
  background-image: url('@/assets/lottery-bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.battle-user {
  display: flex;
  background: #322d36;
  backdrop-filter: blur(2px);
}

.battle-user-win {
  background: linear-gradient(180deg, #1c1c22 23.44%, #605a2c 100%);
}

.seat-1 {
  &::before {
    position: absolute;
    top: 50%;
    left: 0;
    width: 28px;
    height: 37px;
    background: url('@/assets/box-arr.png') no-repeat;
    background-size: contain;
    transform: translateY(-50%);
    content: '';
  }
}

.seat-last {
  &::after {
    position: absolute;
    top: 50%;
    right: 0;
    width: 28px;
    height: 37px;
    background: url('@/assets/box-arr.png') no-repeat;
    background-size: contain;
    transform: rotateY(180deg) translateY(-50%);
    content: '';
  }
}

@media (max-width: 599px) {
  .seat-1 {
    &::before {
      width: 14px;
      height: 18px;
    }
  }

  .seat-last {
    &::after {
      width: 14px;
      height: 18px;
    }
  }
}

.win-user-bg {
  background: linear-gradient(
      90deg,
      rgba(39, 104, 53, 0.7) 0%,
      rgba(32, 77, 42, 0.2) 100%
    ),
    rgba(22, 22, 22, 0.75);
}

.animate-item-enter {
  animation-name: slideInDown;
  animation-duration: 800ms;
}

.animate-item-enter-active {
  animation-name: slideInDown;
  animation-duration: 800ms;
}

.animate-item-enter-done {
  animation-name: slideInDown;
  animation-duration: 800ms;
}

.animate-item-exit {
  animation-name: bounceOut;
  animation-duration: 800ms;
}

.animate-item-exit-active {
  animation-name: bounceOut;
  animation-duration: 800ms;
}

.animate-item-exit-done {
  animation-name: bounceOut;
  animation-duration: 800ms;
}

.battle-detail {
  .battle-mode-0 {
    background: linear-gradient(
        90deg,
        rgba(39, 104, 53, 0.6) 0%,
        rgba(32, 77, 42, 0) 100%
      ),
      rgba(22, 22, 22, 0.75);
  }

  .battle-mode-1 {
    background: linear-gradient(
        90deg,
        rgba(150, 21, 44, 0.6) 0%,
        rgba(125, 25, 31, 0) 100%
      ),
      rgba(22, 22, 22, 0.75);
  }
}
