.verify-bg {
  position: relative;

  &::before {
    background: url('@/assets/verify-bg.png') 100%/100% no-repeat;
    content: "";
    height: 760px;
    position: absolute;
    right: -230px;
    top: 20px;
    width: 973px;
    z-index: -1;
  }
}

@media (max-width: 599px) {
  .verify-bg::before {
    display: none;
  }
}