.top-icons {
  position: relative;
  background: rgba(20, 20, 21, 0.2);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  backdrop-filter: blur(9px);
}

body {
  .swiper-pagination-bullet {
    background: #ab6afc;
  }

  .swiper-pagination-bullet-active {
    background: #35f05e;
  }
}

.giveaways-grade {
  .giveaways-grade-item {
    transform: translateX(0px);
    transition: transform 400ms ease-out 0s;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 60px;
      height: 100%;
      background: hsla(0, 0%, 100%, 0.5);
      transform: translateX(-7rem) skewX(-15deg);
      filter: blur(30px);
      content: '';
    }

    &::after {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 30px;
      height: 100%;
      background: hsla(0, 0%, 100%, 0.2);
      transform: translateX(-7rem) skewX(-47deg);
      filter: blur(5px);
      content: '';
    }

    &:hover {

      &::before,
      &::after {
        transform: translateX(480px) skewX(-47deg);
        transition: all 0.5s ease-out;
      }
    }
  }

}

.giveaways-grade-0 {
  background: linear-gradient(97deg, rgba(132, 112, 41, 0.47) 0%, rgba(52, 42, 15, 0.62) 52.74%, rgba(77, 59, 32, 0.76) 99.22%), #161616;


  
  .top-color {
    border-top: 2px solid #FFEE51;
  }

  .icon-color {
    color: #FFEE51;
  }

  .btn-color{
    background-color: #FFEE51;
    color: #252228;
  }

  &::before {
    position: absolute;
    top: 20px;
    right: 0;
    width: 192px;
    height: 102px;
    background: url(@/assets/roll-halloween.png) no-repeat;
    background-size: contain;
    content: '';
  }
}

.giveaways-grade-1 {
  background: linear-gradient(97deg, rgba(132, 41, 46, 0.47) 0%, rgba(52, 15, 17, 0.62) 52.74%, rgba(77, 32, 32, 0.76) 99.22%), #161616;

  .top-color {
    border-top: 2px solid #ed3838;
  }

  .icon-color {
    color: #ed3838;
  }

  .btn-color{
    background-color: #ed3838;
  }

  &::before {
    position: absolute;
    top: 20px;
    right: 0;
    width: 192px;
    height: 102px;
    background: url(@/assets/roll-halloween.png) no-repeat;
    background-size: contain;
    content: '';
  }
}

.giveaways-grade-2 {
  background: linear-gradient(97deg, rgba(97, 41, 132, 0.47) 0%, rgba(34, 15, 52, 0.62) 52.74%, rgba(52, 32, 77, 0.76) 99.22%), #161616;

  .top-color {
    border-top: 2px solid #A869F8;
  }

  .icon-color {
    color: #A869F8;
  }

  .btn-color{
    background-color: #A869F8;
  }

  &::before {
    position: absolute;
    top: 20px;
    right: 0;
    width: 192px;
    height: 102px;
    background: url(@/assets/roll-halloween.png) no-repeat;
    background-size: contain;
    content: '';
  }
}

.giveaways-grade-3 {
  background: linear-gradient(97deg, rgba(66, 87, 94, 0.47) 0%, rgba(35, 51, 54, 0.62) 52.74%, rgba(39, 57, 61, 0.76) 99.22%), #161616;

  .top-color {
    border-top: 2px solid #6DA1AC;
  }

  .icon-color {
    color: #6DA1AC;
  }

  .btn-color{
    background-color: #6DA1AC;
  }


  &::before {
    position: absolute;
    top: 20px;
    right: 0;
    width: 192px;
    height: 102px;
    background: url(@/assets/roll-halloween.png) no-repeat;
    background-size: contain;
    content: '';
  }
}

.battle-item {
  &.battle-item-grade-0 {
    background: radial-gradient(170.24% 144.17% at 4.88% 130.83%,
        rgba(21, 201, 114, 0.6) 0%,
        rgba(43, 153, 26, 0) 100%),
      #1e1d22;
  }

  &.battle-item-grade-1 {
    background: radial-gradient(196.74% 133.5% at 49.87% 100%,
        rgba(255, 27, 68, 0.6) 0%,
        rgba(40, 40, 40, 0) 100%),
      #1e1d22;
  }
}

@media (max-width: 767px) {

  .bettle-btn,
  .bettle-or {
    display: none;
  }
}

.case-wrap::before {
  content: '';
  padding-top: 140%;
  display: block;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}