.top-icons {
  position: relative;
  background: rgba(20, 20, 21, 0.2);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  backdrop-filter: blur(9px);
}

body {
  .swiper-pagination-bullet {
    background: #ab6afc;
  }

  .swiper-pagination-bullet-active {
    background: #35f05e;
  }
}

.giveaways-grade {
  .giveaways-grade-item {
    transform: translateX(0px);
    transition: transform 400ms ease-out 0s;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 60px;
      height: 100%;
      background: hsla(0, 0%, 100%, 0.5);
      transform: translateX(-7rem) skewX(-15deg);
      filter: blur(30px);
      content: '';
    }

    &::after {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 30px;
      height: 100%;
      background: hsla(0, 0%, 100%, 0.2);
      transform: translateX(-7rem) skewX(-47deg);
      filter: blur(5px);
      content: '';
    }

    &:hover {

      &::before,
      &::after {
        transform: translateX(480px) skewX(-47deg);
        transition: all 0.5s ease-out;
      }
    }
  }
}

.giveaways-grade-0 {
  background: var(--g-1,
      radial-gradient(249.96% 148.16% at 78.08% 128.82%,
        rgba(233, 202, 40, 0.6) 0%,
        rgba(255, 199, 0, 0.6) 55.88%,
        rgba(231, 167, 42, 0.49) 100%),
      #100f12);
  border-top: 3px solid var(--4, #ffee51);

  .giveaways-icon {
    background: #ffee51;
  }

  &::before {
    position: absolute;
    top: 40px;
    left: 30px;
    width: 102px;
    height: 58px;
    background: url(@/assets/iv1.png) no-repeat;
    background-size: contain;
    content: '';
  }
}

.giveaways-grade-1 {
  background: var(--g-2,
      radial-gradient(249.96% 148.16% at 78.08% 128.82%,
        rgba(182, 59, 74, 0.6) 0%,
        rgba(246, 43, 43, 0.6) 55.88%,
        rgba(231, 42, 87, 0.24) 100%),
      #100f12);

  border-top: 3px solid var(--3, #ed3838);

  .giveaways-icon {
    background: #ed3838;
  }

  &::before {
    position: absolute;
    top: 40px;
    left: 30px;
    width: 102px;
    height: 58px;
    background: url(@/assets/iv2.png) no-repeat;
    background-size: contain;
    content: '';
  }
}

.giveaways-grade-2 {
  background: var(--g-3,
      radial-gradient(249.96% 148.16% at 78.08% 128.82%,
        rgba(128, 59, 182, 0.6) 0%,
        rgba(187, 101, 255, 0.6) 55.88%,
        rgba(148, 42, 231, 0.24) 100%),
      #100f12);
  border-top: 3px solid #833cae;

  .giveaways-icon {
    background: #833cae;
  }

  &::before {
    position: absolute;
    top: 40px;
    left: 30px;
    width: 102px;
    height: 58px;
    background: url(@/assets/iv3.png) no-repeat;
    background-size: contain;
    content: '';
  }
}

.giveaways-grade-3 {
  background: var(--g-4,
      radial-gradient(249.96% 148.16% at 78.08% 128.82%,
        rgba(74, 102, 128, 0.6) 0%,
        rgba(144, 238, 232, 0.55) 55.88%,
        rgba(103, 180, 224, 0.24) 100%),
      #100f12);
  border-top: 3px solid #4d7d88;

  .giveaways-icon {
    background: #4d7d88;
  }

  &::before {
    position: absolute;
    top: 40px;
    left: 30px;
    width: 102px;
    height: 58px;
    background: url(@/assets/iv4.png) no-repeat;
    background-size: contain;
    content: '';
  }
}

.battle-item {
  &.battle-item-grade-0 {
    background: radial-gradient(170.24% 144.17% at 4.88% 130.83%,
        rgba(21, 201, 114, 0.6) 0%,
        rgba(43, 153, 26, 0) 100%),
      #1e1d22;
  }

  &.battle-item-grade-1 {
    background: radial-gradient(196.74% 133.5% at 49.87% 100%,
        rgba(255, 27, 68, 0.6) 0%,
        rgba(40, 40, 40, 0) 100%),
      #1e1d22;
  }
}

@media (max-width: 767px) {

  .bettle-btn,
  .bettle-or {
    display: none;
  }
}

.case-wrap::before {
  content: '';
  padding-top: 140%;
  display: block;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}