body {
  color: #fff;
}

.box-title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 16px auto;


  &::before {
    background: url('@/assets/box-title.png') no-repeat;
    background-size: contain;
    display: block;
    width: 17px;
    height: 22px;
    content: '';
    margin-right: 8px;
  }

  &::after {
    background: url('@/assets/box-title.png') no-repeat;
    display: block;
    background-size: contain;
    width: 17px;
    height: 22px;
    content: '';
    margin-left: 8px;
    transform: rotateZ(180deg)
  }
}

.lottery-bg{
  background-image: url('@/assets/lottery-bg.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #161616;
}

.modal-sub-title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px auto;

  &::before {
    background: url('@/assets/box-title.png') no-repeat;
    background-size: contain;
    display: block;
    width: 80px;
    height: 6px;
    content: '';
    margin-right: 8px;
  }

  &::after {
    background: url('@/assets/box-title.png') no-repeat;
    display: block;
    background-size: contain;
    width: 80px;
    height: 6px;
    content: '';
    margin-left: 8px;
    transform: rotateY(180deg)
  }
}


#root {
  .nc-container {
    .nc_wrapper {
      width: 100% !important;
    }

    .nc_wrapper .nc_scale {
      background: #131314 !important;
      height: 40px !important;
    }

    .nc_wrapper .nc_bg {
      background: #35F05E !important;
    }

    .nc_wrapper .nc-lang-cnt {
      background: none !important;
      color: #FAFAFF !important;
      -webkit-text-fill-color: #FAFAFF !important;
    }

    .nc_wrapper .nc_iconfont {
      background: #FAFAFF !important;
    }
  }

  .nc-container .nc_scale span {
    height: 40px;
    line-height: 40px;
  }

  .ant-skeleton.ant-skeleton-active {

    .ant-skeleton-avatar,
    .ant-skeleton-title,
    .ant-skeleton-paragraph li {
      background: linear-gradient(90deg, rgba(255, 255, 255, 0.06) 25%, rgba(255, 255, 255, 0.15) 37%, rgba(255, 255, 255, 0.06) 63%);
      background-size: 400% 100%;
    }
  }

  .ant-pagination .ant-pagination-item.ant-pagination-item-active {
    border-color: #35F05E;
    background-color: #35F05E;

    a {
      color: #000;
    }

    &:hover {
      border-color: #35F05E;
      background-color: #35F05E;

      a {
        color: #000;
      }
    }
  }

  .ant-pagination .ant-pagination-item {
    background-color: #262635;

    a {
      color: #fff;
    }

    &:hover {
      background-color: rgba(0, 0, 0, 0.2);

      a {
        color: #fff;
      }
    }
  }

  .ant-pagination-item-link-icon,
  .ant-pagination-item-ellipsis {
    color: #fff !important;
  }


  .ant-pagination .ant-pagination-prev,
  .ant-pagination .ant-pagination-next,
  .ant-pagination .ant-pagination-jump-prev,
  .ant-pagination .ant-pagination-jump-next {
    background-color: #252228;
    border-color: #252228;

    .ant-pagination-item-link {
      color: #fff;
    }
  }

  .ant-input-group-addon {
    background-color: #131314;
    border-color: rgba(255, 255, 255, 0.4);
  }

  .ant-input-affix-wrapper,
  .ant-input-group-wrapper {
    background-color: #131314;
    border-color: rgba(255, 255, 255, 0.4);

    &:hover,
    &.ant-input-affix-wrapper-focused {
      border-color: #35F05E;
    }

    .ant-input-prefix,
    .ant-input-suffix span {
      color: #c0c4cc;
    }

    input,
    input::placeholder {
      background: none;
      color: #c0c4cc;
    }
  }

  .ant-spin-nested-loading .ant-spin-container::after {
    background: none;
  }
}

.modal-box {
  background: #322D36;
  width: 100%;
  padding: 20px;
  border-radius: 6px;
  position: relative;
  border: 1px solid #636363;
}

.modal-box.confirm-modal-bg {
  background: linear-gradient(180deg, rgba(62, 62, 80, 0.80) 0%, rgba(23, 23, 23, 0.80) 94.79%);
  backdrop-filter: blur(21px);
  border: none;
}

@font-face {
  font-family: 'Gotham';
  src: url('@/assets/fonts/Gotham-Bold_Web.woff2');
}

.font-num {
  font-family: 'Gotham';
}

.modal-close-btn {
  position: absolute;
  top: -30px;
  right: -30px;
  width: 60px;
  height: 60px;
  cursor: pointer;
  z-index: 999;
  background-size: contain;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.2);
}

.hide-scrollbar {
  scrollbar-width: none
}

.hide-scrollbar::-webkit-scrollbar {
  display: none
}


@keyframes breathe {
  0% {
    transform: scale(1.0);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1.0);
  }
}


.animate-breathe {
  animation: breathe 2s linear infinite;
}

@keyframes circleChange {
  0% {
    transform: scale(1);
    opacity: 1
  }

  25% {
    transform: scale(1.2);
    opacity: .75
  }

  50% {
    transform: scale(1.4);
    opacity: .5
  }

  75% {
    transform: scale(1.6);
    opacity: .25
  }

  to {
    transform: scale(1.8);
    opacity: .05
  }
}

.animate-circleChange {
  animation: circleChange 1.5s linear infinite;
}

.card-flip {
  position: relative;
  overflow: hidden;

  .front {
    height: 100%;
    width: 100%;
    transition: all .3s ease-in-out;
  }

  .back {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    opacity: 0;
    transition: all .3s ease-in-out;
  }

  &:hover {
    .front {
      transform: translateY(-100%);
    }

    .back {
      visibility: visible;
      opacity: 1;
      transform: translateY(-100%);
    }
  }
}

.progress-secondary-l::-moz-progress-bar {
  background: linear-gradient(90deg, #000 0%, rgba(0, 240, 255, 0.68) 100%);
}

.progress-secondary-l:indeterminate {
  --progress-color: hsl(var(--s));
}

.progress-secondary-l::-webkit-progress-value {
  background: linear-gradient(90deg, #000 0%, rgba(0, 240, 255, 0.68) 100%);
}